* { font-family: 'Poppins', sans-serif; }
header { border-bottom: 1px solid #95AFC0; }
label { font-weight: bold; color: #726D71; }
.main { display: flex; }
.move { display: flex; }
.move * { cursor: pointer; }
.move-day { display: flex; font-size: 3rem; margin: 30px 0 10px 20%;}
.move-day i { color: #74B9FF; }
.month-year { display: flex; padding: 0 10px; width: 300px; justify-content: center; }
.month-year label:nth-of-type(2) { padding-right: 20px; }
.week { width: 126px; }
.weeks { display: flex; }
.day { width: 75px; }
.now { color: #726D71; }
.before, .after { color: #c8d6e5; }
#before-year, #after-year  { width: 90px; }

.t-a-c { text-align: center; }

.d-f { display: flex; }

.p-r { position: relative; }

.l-5p { left: 5% }
.l-20p { left: 20%; }

.f-s-2r { font-size: 2.5rem; }
.f-s-3r { font-size: 3rem; }

.day { padding: 15px 20px 0 30px; }
.m-side50 {margin: 0 50px;}
.m-t-30 { margin-top: 30px; }
.m-b-10 { margin-bottom: 10px; }

.w-50p { width: 50%; }
.w-75 { width: 75px; }

.w-s-40 { word-spacing: 40px; }

.f-w-b { font-weight: bold; }

.c-p { cursor: pointer; }
